.option {
  height: 36px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.option:hover {
  background-color: #f3f2f1;
}

.optionsContainer {
  overflow-y: auto;
  max-height: 300px;
}

.optionLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  width: 0;
}
